@font-face {
    font-family: katex-math;
    src: url(../font/KaTeX_Math-Italic.woff);
}

h1 {
    text-align: center;
    color: white;
}
.btn {
    border-radius: 5px; 
    padding: 10px; 
    font-size: 17px; 
    cursor: pointer; 
    width: calc(100% - 10px); 
}
.button-row {
    display: flex;
    justify-content: center; 
    margin: 5px 0;
    gap: 5px;
}
#composition,#inverse{
    font-family: katex-math;
}